<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    
    <form action="/todo/update/<%= index %>" method="post">
        <input name="title" type="text" value="<%=onetodo && onetodo.title  %>">
        <input name="content" type="text" value="<%=onetodo && onetodo.content  %>" >
        <button type="submit">Update</button>
    </form>
    
</body>
</html>